/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

html,
    body,
    h1,
    p {
          font-family: Outfit, sans-serif;
    }

.default-transition {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.app {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.auto-complete {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

.auto-complete input {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(189 190 194 / var(--tw-border-opacity));
  font-family: Outfit, sans-serif;
  border-radius: 6px;
  font-weight: 400;
  font-size: 1rem;
  background-color: #f1f1f1;
  height: 42px;
  padding: 10px;
  font-size: 16px;
}

.auto-complete input:hover {
  border-width: 1px;
  border-style: solid;
  border-color: #D5BFBF;
}

.auto-complete input:focus {
  border-color: #396EB0;
}

.auto-complete-item {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d4d4d4;
}

.auto-complete-item:hover {
  background-color: #e9e9e9;
}

.loading-indicator {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: #e0e0e0;
  text-align: center;
}
